language: android
jdk:
- oraclejdk8
env:
  global:
  - NDK_VERSION=r12b
  - NDK_CCACHE=ccache
  - GOROOT_BOOTSTRAP=$GOROOT
  - ANDROID_NDK_HOME=$HOME/.android/android-ndk-${NDK_VERSION}
  - SBTPATH=$HOME/.sbt
  - PATH=${ANDROID_NDK_HOME}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools:${PATH}
scala:
- 2.11.8
before_cache:
- find $HOME/.sbt -name "*.lock" | xargs rm
- find $HOME/.ivy2 -name "*.lock" | xargs rm
cache:
  directories:
  - "$HOME/.ivy2"
  - "$HOME/.sbt"
android:
  components:
  - tools
  - build-tools-25.0.1
  - extra-android-m2repository
  - extra-google-m2repository
install:
- |
  if [ ! -d "$ANDROID_NDK_HOME" ]; then
      mkdir -p $ANDROID_NDK_HOME;
      pushd $HOME/.android;
      export ARCH=`uname -m`;
      wget -q http://dl.google.com/android/repository/android-ndk-${NDK_VERSION}-linux-${ARCH}.zip;
      unzip -q android-ndk-${NDK_VERSION}-linux-${ARCH}.zip;
      popd;
  fi
- |
  if [ ! -f "$SBTPATH/sbt" ]; then
      pushd $SBTPATH;
      wget -q https://raw.githubusercontent.com/paulp/sbt-extras/master/sbt;
      chmod a+x sbt;
      popd;
  fi
script:
- "$SBTPATH/sbt native-build android:package-debug"
deploy:
  provider: releases
  api_key:
    secure: NnNe6I/yg2sgkiFCRB9wia0wKkA41YJbGQjoR+BUHKAVbJO4SKFg8XISdNdhFBq9pMI6Ev4dhH8rlN4ID8w3Imo8TMPvIaY+85uZNyg2iPPyDVYmwkYSeocoLoAqX947w0DGo3Qv4b//75C2Gji++AsoUip/iUa9mHD3JmuQ5g3cTcjySGQkBJR46Zl1sYb89yh/aPU4s5jplrfhaVvSabpC0W9F7FwV4jSbPVRN7PyNl19Ne1XpaJ4gS4g5qL/IFa4Y80NXYjIWiHKM9RnkZzmlykIj1EcJVdLNylrCglGDwkGoEOOJaLReFwuXq/WOGEY8sgRfBWh0DyFDssvNvrzR9VT/muS0shM22UAxJWyo4JdtLhQKQfe1Qk23MGGPRGetGpCbzKoW7QGmcKdKXakaJqEkauI8i3kfwf0RydsLYBgPd3aeHmIBXf8+SMPJ4Qitxc92PQRt5oBJrgL40pCigOXtPs0QI1oJNtOlK0a5HSURLcTixwibf4tkFH+sYYqT6ZzbAHBwaS8zOjN0koBDbRH0j+iKW60g3t03YpveKc26TLfK937BwiUQ8TvHSeO5iIgW7nGcWudRFOZhpwQ/mXsQI7D7RrrVvp1SZU7InQYOeouf4cvEs9I0cJDr2Fh5Sa13OUASYbJ8+SglS8GCB8FNENL/m1k4rEMAAcM=
  file: target/android/output/shadowsocks-debug.apk
  skip_cleanup: true
  on:
      all_branches: true
